{% extends "layout.html" %}

{% set pageId="page-create-point"%}

{% block title %}
  <title>Criar um ponto de coleta</title>
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="/styles/create-point.css"/>
{% endblock styles %}

{% block directoHome %}
  <script src="/scripts/directToHome.js" defer="defer"></script>
{% endblock directoHome %}

{% block content%}

  {% include "partials/page-header.html" %}

  <form action="" method="">
    <h1>Cadastro do ponto de coleta</h1>

    <fieldset>
      <legend>
        <h2>Dados da entidade</h2>
      </legend>

      {% include "partials/entity-fields.html" %}

    </fieldset>

    <fieldset>

      <legend>
        <h2>Itens de Coleta</h2>
        <span>Selecione um ou mais itens abaixo</span>
      </legend>
      
      {% include "partials/items-fields.html"%}
      <!-- vai receber o dataset id -->
      <input type="hidden" name="items"/>

    </fieldset>

    <button type="submit">Cadastrar ponto de coleta</button>
  </form>

{% endblock content %}

{% block scripts %}
  <script src="/scripts/create.point.js"></script>
{% endblock scripts %}