#page-home {

  background:url('../assets/home-background.svg') no-repeat;
  height: 100vh; /*Esta config faz a imagem se enquandrar na altura da pagina*/
  background-position: 35vw bottom; /*Essa config coloca a imagem no meio e para baixo*/
  /*aqui em cima mexemos na imagem position x: 35vw e y: bottom*/
  /*Quando a pagina for menor que isso, trabalhamos la na @media query*/

}

#page-home .content { 

  width: 90%; /*Com esta config e proxima fica responsivo*/
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;

  display: flex;
  flex-direction: column; 

}

#page-home header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;

}

#page-home header a {

  display: flex; /*Fizemos isso,pois aplicar flex no span, desalinhou os <a> e o <span>*/
  color: var(--title-color);
  font-weight: 700;
 

}

#page-home header a span {

  display: flex;

  background-image: url('../assets/log-in.svg');
  width: 20px;
  height: 20px;
  margin-right: 16px;

}

#page-home main {
  max-width: 560px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1; /* ao inves de colocar height em pixel - usando flex 1 faz ele ocupar o espaco disponivel*/

}

#page-home main h1 { 

  font-size: 54px;

}

#page-home main p {

  font-size: 24px;
  line-height: 38px;
  margin-top: 38px;
}

#page-home main a {

  max-width:360px;
  width: 100%;
  height: 72px;
  background-color:var(--primary-color);

  display: flex;
  align-items: center;
 

  border-radius: 8px;
 
  margin-top: 40px;
  transition: 400ms; 
 


}

#page-home main a:hover {

  background-color: #2fb86e;
}

#page-home main a span {
  width: 72px;
  height: 72px;
  background-color:#2fb86e;
  
  /*essas 2 config tiraram o sobra das pontas do span no <a>*/
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  /*Esse flex foi aplicado para a image dentro do span:after aparecer*/
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 400ms;
}

#page-home main a span:hover {

  background-color: #2fb86e;/*rgba(0,0,0,0.08)*/
}

#page-home main a span::after {

  content: "";
  background-image: url('../assets/search.svg');

  /*Para a imagem aparecer, mas precisou do pai ter flex*/
  width: 20px;
  height: 20px;

}


#page-home main a strong {

  color: white;
  flex: 1; /*isso fez o texto do botao ocupar o resto de espaco apos o span*/

  text-align: center;

}