

:root {

  --title-color: #322153;
  --primary-color: #34cb79;
}

* {     

margin: 0;
padding: 0;

  
  }

html {

    font-family: Roboto, sans-serif;
    /*Quando a fonte tem somente 1 nome, nao precisa de colocar ' ' */
    
}

body {

background: #f0f0f5;
--webkit-font-smoothing: antialiased; /*Fonte fica mais suave de se ver*/

}

a {

  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'Ubuntu', sans-serif;
  color: var(--title-color);
}
